<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply to your Question</title>
  </head>
  <body>
    <h1>Hello <%= name %>,</h1>
    <p>
      A new reply has just been added to your question in the video "<%= title
      %>".
    </p>
    <p>Please login on Udemy to view the reply to your question. Now!</p>
    <p>Thank you for being part of the community!</p>
  </body>
</html>
